@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Reviews</h1>
    <p class="lead">Film Review Website, Built by Matthew Perry, Oliver Holt, Joseph Engel, Marek Jawulski, Nicolle Lines and Chris Lucas</p>
    <p><a href="~/Film/Index" class="btn btn-primary btn-lg">Film Library &raquo;</a></p>
</div>
