@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ReviewIt!</h1>
    <p class="lead">A Film Review Website, built by Matthew Perry, Chris Lucas, Joseph Engel, Oliver Holt, Nicolle Lines and Marek Jawulski.</p>

    <p><a href="/Directors/" class="btn btn-primary btn-lg">Director List &raquo;</a></p>

    <p><a href="/Actors/" class="btn btn-primary btn-lg">Actor List &raquo;</a></p>

    <p><a href="~/Films/" class="btn btn-primary btn-lg">Film List &raquo;</a></p>

    <p><a href="~/Gossips/" class="btn btn-primary btn-lg">Gossip &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>